{% extends 'base.html' %}
{% load thumbnail %}
{% block title %}
  Посты автора
{% endblock %}
{% block content %}
{% include 'posts/includes/switcher.html' %}
  <div class="container py-5">        
    <h1>Посты автора</h1>
      {% for post in posts %}
        <ul>
          <li>
            Автор: {{ post.author.get_full_name }}
          </li>
          <li>
            <a href="{% url 'posts:profile' post.author %}">все посты пользователя</a>
          </li>
          <li>
            Дата публикации: {{ post.pub_date|date:"d E Y" }}
          </li>
        </ul>
        {% thumbnail post.image "960x339" crop="center" upscale=True as im %}
        <img class="card-img my-2" src="{{ im.url }}">
        {% endthumbnail %}
        <p>
          {{ post.text|linebreaks }}
        </p>
        <a href="{% url 'posts:post_detail' post.id %}">подробная информация</a>
        </p>
        {% if post.group %}
          <a href="{% url 'posts:group_list' post.group.slug %}">все записи группы</a>
        {% endif %}
        {% if not forloop.last %}<hr>{% endif %}
      {% endfor %}
      {% include 'includes/paginator.html' %}
  </div>
{% endblock %}